# Conditional statement

In [1]:
x = 55

if x > 0:
    print("inside of block")
    print(f"{x} is greater than 0")

print("outside of block")

inside of block
55 is greater than 0
outside of block

In [2]:
x = -55

if x > 0:
    print("inside of block")
    print(f"{x} is greater than 0")

print("outside of block")

outside of block

In [3]:
x = 5
y = -5

if x > 0 and y > 0:
    print("both are positive")

In [4]:
x = 33

if x%2 == 0:
    print("even")

else:
    print("odd")

odd

In [5]:
name = "madam"

if name == name[::-1]:
    print("pallindrome")

else:
    print("not pallindrome")

pallindrome

In [6]:
x = 6 

if x < 0:
    print("x is nagative")
elif x == 0:
    print("x is zero")
else:
    print("x is positive")

x is positive

In [7]:
number = 50

if number >= 80:
    print("grade A")
elif number  >= 60:
    print("grade B")
elif number   >=40:
    print("grade C")
else:
    print("grade D")

grade C

## Nested if.. else

In [8]:
grade = 70
if grade > 0:
    if grade > 80:
        print("Grade A")

    else :
        print("Grade Other")

else: 
    print("enter positive value")

Grade Other

# Python Loop Statements

### 1. For Loop

In [9]:
fruits = ["apple","banana","cherry"]

In [10]:
for each in fruits:
    print(f"fruit {each}")

print("completed")

fruit apple
fruit banana
fruit cherry
completed

In [11]:
for ch in "hello":
    print(ch)

h
e
l
l
o

#### Using Range()

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [14]:
for i in range(0,6):
    print("*"*i)

*
**
***
****
*****

In [15]:
for i in range(6,0,-1):
    print("*"*i)

******
*****
****
***
**
*

### Nested for loop

In [16]:
adj = ["rad","big","tasty"]
fruit = ["apple","banana","cherry"]

In [17]:
for a in adj:
    for f in fruits:
        print(a, f)

rad apple
rad banana
rad cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##### Multiple args in loop

In [18]:
person = {
    "name" : "vince",
    "age" : 30,
    "gender" : "male"
}
person_list = list(person.items())
person_list

[('name', 'vince'), ('age', 30), ('gender', 'male')]

In [19]:
for each in person_list:
    print(each)

('name', 'vince')
('age', 30)
('gender', 'male')

In [20]:
for key, value in person_list:
    print(f"key: {key} = {value}")

key: name = vince
key: age = 30
key: gender = male

In [21]:
coord = [[1,2,3], [3,4,5], [4,6,9]]
print(coord)

[[1, 2, 3], [3, 4, 5], [4, 6, 9]]

In [22]:
for(x, y, z) in coord:
    print(x,y,z)

1 2 3
3 4 5
4 6 9

In [ ]:
x = int(input("enter a number"))
for i in range(1,11):
    print(f"{x} x {i} ={x*i}" )

### python program to seperate even and odd numbers from a series of number
numbers= [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]

In [ ]:
numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]
odd = []
even = []
for i in numbers:
    if (i % 2 == 0):
        even.append(i)
    else:
        odd.append(i)
print(f"Even Numbers are: {even}")
print(f"odd Numbers are: {odd}")

### 2. While Loop

In [ ]:
i = 0

while i < 5:
    print(i)
    i += 1

##### Break Statement

In [1]:
i = 0

while i < 10:
    print(i)
    i += 1
    if i==5:
        break

0
1
2
3
4

In [2]:
for i in range(10):
    print(i)
    i += 1
    if i==5:
        break

0
1
2
3
4

##### Continue Statement

In [5]:
names = ["saimon", "jesus", "jhon"]

for name in names:
    if name == "jesus":
        continue
        
    print(name)

saimon
jhon

In [21]:
number = 1000
total_sum = 0
i = 1
while i <= number:
     total_sum += 1
     i +=1
    
    
print(f"the sum of the first {number} natural number is : {total_sum}")

the sum of the first 1000 natural number is : 1000

In [4]:
number = 52
total_prod = 1
i = 1
while i <= number:
    total_prod = total_prod * i 
    i +=1
    
print(f"the sum of the first {number} natural number is : {total_prod}")

the sum of the first 52 natural number is : 80658175170943878571660636856403766975289505440883277824000000000000